<!-- Page Content -->
<div class="container">


  <div class="row">
    <div class="col-md-8">
    <!-- Blog Entries Column -->
    <h1 class="my-4">Lastest News
      <p> <small>Everything you need to know</small></p>
    </h1>

    {{#each posts}}
    <div class="card mb-4">
      <img class="card-img-top" src='{{image}}' ; alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">{{text}}</p>
        <a href="/new/{{_id}}" class="btn btn-primary">Read More &rarr;</a>
      </div>
      <div class="card-footer text-muted">
        Posted TODAY by
        <a href="#">Futbol Report </a>
      </div>
    </div>
    {{/each}}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">

      <li class="page-item">
        <a class="page-link"  href="/?num={{num}}">&larr; Older</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"> Today </a>
      </li>
    </ul>
</div>


<!-- Sidebar Widgets Column -->
<div class="col-md-4">


  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Quick News</h5>
    <div class="card-body">
      Neymar hits a fan after losing and faces FIFA sanction..
    </div> <hr>
    <div class="card-body">
     Real Madrid looks to sign Hazard, Keita and Firmino this summer..
    </div> <hr>
 <div class="card-body">
    Venezuelan GoalKeeper on Barca's eye..
    </div> <hr>
     <div class="card-body">
   De Ligt, Ajax and Barca already have an agree..
    </div> <hr>
     <div class="card-body">
    Luis Enrique about PSG Failure "Money is not everything in soccer"
    </div> <hr>
  </div>

</div>
</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">IronHack &copy; Angel Biondi</p>
  </div>
  <!-- /.container -->
</footer>