<div class="container red">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">


            <div class="card mb-4">
                <img class="card-img-top" src='{{post.image}}' ; alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p>{{post.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



{{#each comments}}
{{commentedBy}}
<br>
{{text}}
<hr>
{{/each}}

{{#if user}}
<form action="" method="POST" class="commentsty" >

    Enter your comment here:

    <textarea name="commentSection"></textarea>
    <input class="commentbut"   type="submit" value="Submit your comment">
</form>
{{/if}}