<div class="container red">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md">


            <div class="card mb-4">
                <img class="card-img-top" src='{{post.image}}' ; alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p>{{post.text}}</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="comsec">
                {{#each comments}}
                {{!-- {{commentedBy}} --}}
                <br>
                {{text}}
                <hr>
                {{/each}}

                {{#if user}}
                <form action="" method="POST" class="commentsty">

                    <hr>

                    <textarea name="commentSection" class="coms"></textarea>
                    <input class="btnsec" type="submit" value="Post">

                </form>
                {{/if}}

            </div>
        </div>

    </div>
</div>